
@{
    ViewData["Title"] = "Product Details";
    @model YummyFood.Web.CommonBO.ProductBO;
}
<br />
<br />

<!-- -----------Header------------ -->

<div class="container col-10">
    <div class="card">
        <div class="card-header">
            <h4>Product Details</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <img height="180px" width="250px" src="@Model.ImageUrl" alt="image.png" />
                </div>
                <div class="col">
                    <div class="row d-flex justify-content-around pt-2">
                        <div class="col">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" value="@Model.Name" readonly />
                        </div>
                        <div class="col">
                            <label class="form-label">Category Name</label>
                            <input type="text" class="form-control" value="@Model.CategoryName" readonly />
                        </div>
                    </div>
                    <div class="row d-flex justify-content-around pt-2">
                        <div class="col">
                            <label class="form-label">Product Description</label>
                            <textarea class="form-control" readonly>@Model.Description</textarea>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-around pt-4">
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Price : </span>
                                <input type="text" class="form-control" value="@string.Format("{0:0,0.00}", Model.Price)" readonly />
                                <span class="input-group-text">₹</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Availablity : </span>
                                @if(Model.IsActive == true) {
                                    <input type="text" class="form-control" value="Available" readonly />
                                } else {
                                    <input type="text" class="form-control" value="Unavailable" readonly />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row pt-4 d-flex justify-content-end">
                        <div class="col-2 offset-2">
                            <a asp-action="Index" type="reset" class="btn btn-sm btn-outline-secondary text-reset">Back &nbsp;&nbsp;<i class="fa-solid fa-arrow-rotate-left"></i></a>
                        </div>
                        <div class="col-2">
                            <a asp-action="EditDetails" asp-route-id="@Model.ProductId" class="btn btn-sm btn-dark">Edit &nbsp;&nbsp;<i class="fa-regular fa-pen-to-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</di>
